---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Orpheus - 404 Not Found">
  <div class="flex max-w-8xl mx-auto px-6 lg:px-4 h-[100vh] -mt-28">
    <div class="my-auto mx-auto">
      <h1 class="text-center text-6xl golden-text font-bold">404 Not found</h1>
      <p class="text-center text-xl pt-6">
        Maybe you getting lost, <a
          class="text-gold-100 hover:underline"
          href="/"
          >Back to home
        </a>
      </p>
    </div>
  </div>
</Layout>
