---
import Layout from "../layouts/Layout.astro";
import SectionTitle from "src/components/ui/SectionTitle.astro";
title: "About";
---

<Layout>
    <div class="max-w-8xl mx-auto">
        <article>
            <h1 class="text-5xl text-center font-bold golden-text leading-snug">
                Orpheus UI
            </h1>
            <span class="flex mx-auto divider-horizontal my-4"></span>
            <slot />
        </article>
    </div>
</Layout>
