---
import Layout from "../layouts/Layout.astro";
title: "About"
---

<Layout>
    <div
        class="relative w-screen left-1/2 right-1/2 -ml-[50vw] -mr-[50vw] overflow-hidden"
    >
        <div class="max-w-8xl mx-auto">
            <div class="grid grid-cols-12 gap-6">
                test
            </div>
        </div>
    </div>
</Layout>
