---
import Banner from "../components/ui/Banner.astro";
import Button from "../components/ui/Button.astro";
import SectionTitle from "../components/ui/SectionTitle.astro";

import Banner1 from "public/images/optimized/banner-1-min.webp";
import Banner2 from "public/images/optimized/banner-2-min.webp";
---

<section class="mt-28">
    <div class="mb-12 items-center flex justify-center">
        <SectionTitle title="Contribution" />
    </div>
    <Banner bgImg={Banner1.src} className="banner">
        <div
            class="flex flex-col w-full lg:w-1/2 lg:ml-auto text-center items-center bg-dark/60 py-7 rounded-md backdrop-blur-sm banner-title"
        >
            <h2 class="text-2xl lg:text-4xl font-bold golden-text">
                Figma Community Profile
            </h2>
            <p class="text-xl py-6 px-2 tracking-widest">
                Free open-source Designs and Assets
            </p>
            <Button
                className="w-fit py-3 px-8 text-base"
                url="#"
                target="_blank"
                ><span>Go to Figma</span><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-6"
                    viewBox="0 0 24 24"
                >
                    <path
                        d="M5 6a4 4 0 0 1 4-4h6a4 4 0 0 1 2.646 7A4 4 0 0 1 13 15.465V18a4 4 0 1 1-6.646-3A3.99 3.99 0 0 1 5 12a3.99 3.99 0 0 1 1.354-3A3.99 3.99 0 0 1 5 6Zm6 4H9a2 2 0 1 0 0 4h2v-4Zm2 2a2 2 0 1 0 4 0 2 2 0 0 0-4 0Zm2-4a2 2 0 1 0 0-4h-2v4h2ZM9 4a2 2 0 1 0 0 4h2V4H9Zm2 12H9a2 2 0 1 0 2 2v-2Z"
                    ></path>
                </svg>

                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"
                ></path>
            </Button>
        </div>
    </Banner>
</section>
<Banner bgImg={Banner2.src} className="mt-16 banner" bgPos="right">
    <div
        class="flex flex-col w-full lg:w-1/2 lg:mr-auto text-center items-center bg-dark/70 py-7 rounded-md backdrop-blur-sm banner-title"
    >
        <h2 class="text-2xl lg:text-4xl font-bold golden-text">
            DryWest Design
        </h2>
        <p class="text-xl py-6 px-2 tracking-widest">
            UI/UX Agency specialized in Audio Software
        </p>
        <Button
            className="w-fit py-3 px-8 text-base gap-x-1"
            url="#"
            target="_blank"
            ><span>DryWest Design</span><svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-6"
                viewBox="0 0 24 24"
            >
                <path
                    d="m13.06 8.11 1.415 1.415a7 7 0 0 1 0 9.9l-.354.353a7 7 0 1 1-9.9-9.9l1.415 1.415a5 5 0 1 0 7.071 7.07l.354-.353a5 5 0 0 0 0-7.07l-1.415-1.415 1.415-1.414Zm6.718 6.011-1.414-1.414a5 5 0 0 0-7.071-7.071l-.354.353a5 5 0 0 0 0 7.071l1.415 1.415-1.415 1.414-1.414-1.414a7 7 0 0 1 0-9.9l.354-.353a7 7 0 1 1 9.9 9.9Z"
                ></path>
            </svg>
        </Button>
    </div>
</Banner>
