---

---

<section class="my-52">
    <div class="flex flex-col items-center justify-center gap-12 text-center">
        <h1
            class="golden-text text-4xl lg:text-[3rem] font-black tracking-widest py-2"
        >
            Let's Connect
        </h1>
        <p class="text-xl tracking-wider">Follow me on my social network.</p>
        <ul class="flex flex-wrap justify-center items-center list-none gap-8">
            <li>
                <a
                    href="https://github.com/orpheus-ui"
                    target="_blank"
                    class="social-icons"
                    aria-label="Github"
                    ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                    >
                        <path
                            d="M5.884 18.653c-.3-.2-.558-.456-.86-.816a50.59 50.59 0 0 1-.466-.579c-.463-.575-.755-.841-1.056-.95a1 1 0 1 1 .675-1.882c.752.27 1.261.735 1.947 1.588-.094-.117.34.427.433.539.19.227.33.365.44.438.204.137.588.196 1.15.14.024-.382.094-.753.202-1.095-2.968-.726-4.648-2.641-4.648-6.397 0-1.238.37-2.355 1.058-3.291-.218-.894-.185-1.975.302-3.192a1 1 0 0 1 .63-.583c.081-.024.127-.034.208-.047.803-.123 1.937.17 3.415 1.097a11.73 11.73 0 0 1 2.687-.308c.912 0 1.819.103 2.684.308 1.477-.933 2.614-1.227 3.422-1.097.085.014.158.032.218.051a1 1 0 0 1 .616.58c.487 1.215.52 2.296.302 3.19.691.936 1.058 2.045 1.058 3.292 0 3.758-1.674 5.666-4.642 6.393.125.415.19.878.19 1.38 0 .664-.002 1.299-.007 2.01 0 .19-.002.394-.005.706a1 1 0 0 1-.018 1.957c-1.14.228-1.984-.531-1.984-1.524l.002-.447.005-.705c.005-.707.008-1.338.008-1.997 0-.697-.184-1.152-.426-1.361-.661-.57-.326-1.654.541-1.751 2.966-.334 4.336-1.482 4.336-4.66 0-.955-.312-1.745-.913-2.405a1 1 0 0 1-.189-1.044c.166-.415.236-.957.095-1.614l-.01.002c-.491.14-1.11.44-1.858.95a1 1 0 0 1-.833.135 9.626 9.626 0 0 0-2.592-.35c-.89 0-1.772.12-2.592.35a1 1 0 0 1-.829-.133c-.753-.507-1.374-.807-1.87-.947-.143.653-.072 1.194.093 1.607a1 1 0 0 1-.189 1.044c-.597.656-.913 1.459-.913 2.404 0 3.172 1.371 4.33 4.322 4.66.865.098 1.202 1.178.545 1.749-.193.167-.43.732-.43 1.364v3.149c0 .986-.834 1.726-1.96 1.529a1 1 0 0 1-.04-1.963v-.99c-.91.062-1.661-.087-2.254-.484Z"
                        ></path>
                    </svg>
                </a>
            </li>
            <li>
                <a
                    href="https://figma.com/@raef"
                    target="_blank"
                    class="social-icons"
                    aria-label="Figma"
                    ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                    >
                        <path
                            d="M5 6a4 4 0 0 1 4-4h6a4 4 0 0 1 2.646 7A4 4 0 0 1 13 15.465V18a4 4 0 1 1-6.646-3A3.99 3.99 0 0 1 5 12a3.99 3.99 0 0 1 1.354-3A3.99 3.99 0 0 1 5 6Zm6 4H9a2 2 0 1 0 0 4h2v-4Zm2 2a2 2 0 1 0 4 0 2 2 0 0 0-4 0Zm2-4a2 2 0 1 0 0-4h-2v4h2ZM9 4a2 2 0 1 0 0 4h2V4H9Zm2 12H9a2 2 0 1 0 2 2v-2Z"
                        ></path>
                    </svg>
                </a>
            </li>
            <li>
                <a
                    href="https://www.linkedin.com/in/iraef/"
                    target="_blank"
                    class="social-icons"
                    aria-label="LinkedIn"
                    ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                    >
                        <path
                            d="M6.94 5a2 2 0 1 1-4-.002 2 2 0 0 1 4 .002ZM7 8.48H3V21h4V8.48Zm6.32 0H9.34V21h3.94v-6.57c0-3.66 4.77-4 4.77 0V21H22v-7.93c0-6.17-7.06-5.94-8.72-2.91l.04-1.68Z"
                        ></path>
                    </svg>
                </a>
            </li>
            <li>
                <a
                    href="https://www.instagram.com/orpheus.ui/"
                    target="_blank"
                    class="social-icons"
                    aria-label="Instagram"
                    ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                    >
                        <path
                            d="M12.001 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm0-2a5 5 0 1 1 0 10 5 5 0 0 1 0-10Zm6.5-.25a1.25 1.25 0 0 1-2.5 0 1.25 1.25 0 0 1 2.5 0ZM12.001 4c-2.474 0-2.878.007-4.029.058-.784.037-1.31.142-1.798.332a2.886 2.886 0 0 0-1.08.703 2.89 2.89 0 0 0-.704 1.08c-.19.49-.295 1.015-.331 1.798C4.007 9.075 4 9.461 4 12c0 2.475.007 2.878.058 4.029.037.783.142 1.31.331 1.797.17.435.37.748.702 1.08.337.336.65.537 1.08.703.494.191 1.02.297 1.8.333C9.075 19.994 9.461 20 12 20c2.475 0 2.878-.007 4.029-.058.782-.037 1.308-.142 1.797-.331a2.91 2.91 0 0 0 1.08-.703c.337-.336.538-.649.704-1.08.19-.492.296-1.018.332-1.8.052-1.103.058-1.49.058-4.028 0-2.474-.007-2.878-.058-4.029-.037-.782-.143-1.31-.332-1.798a2.912 2.912 0 0 0-.703-1.08 2.884 2.884 0 0 0-1.08-.704c-.49-.19-1.016-.295-1.798-.331C14.926 4.006 14.54 4 12 4Zm0-2c2.717 0 3.056.01 4.123.06 1.064.05 1.79.217 2.427.465.66.254 1.216.598 1.772 1.153a4.908 4.908 0 0 1 1.153 1.772c.247.637.415 1.363.465 2.428.047 1.066.06 1.405.06 4.122 0 2.717-.01 3.056-.06 4.122-.05 1.065-.218 1.79-.465 2.428a4.884 4.884 0 0 1-1.153 1.772 4.915 4.915 0 0 1-1.772 1.153c-.637.247-1.363.415-2.427.465-1.067.047-1.406.06-4.123.06-2.717 0-3.056-.01-4.123-.06-1.064-.05-1.789-.218-2.427-.465a4.89 4.89 0 0 1-1.772-1.153 4.905 4.905 0 0 1-1.153-1.772c-.248-.637-.415-1.363-.465-2.428-.048-1.066-.06-1.405-.06-4.122 0-2.717.01-3.056.06-4.122.05-1.066.217-1.79.465-2.428a4.88 4.88 0 0 1 1.153-1.772 4.897 4.897 0 0 1 1.772-1.153c.637-.248 1.362-.415 2.427-.465C8.945 2.013 9.284 2 12.001 2Z"
                        ></path>
                    </svg>
                </a>
            </li>
            <li>
                <a
                    href="https://dribbble.com/Orpheusui"
                    target="_blank"
                    class="social-icons"
                    aria-label="Dribbble"
                    ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                    >
                        <path
                            d="M19.989 11.572a7.96 7.96 0 0 0-1.573-4.351 9.757 9.757 0 0 1-.92.87 13.156 13.156 0 0 1-3.313 2.01c.167.35.32.689.455 1.009v.003c.027.061.05.118.094.229l.017.04c1.513-.17 3.109-.107 4.656.103.206.027.4.056.584.087Zm-9.385-7.45a46.15 46.15 0 0 1 2.692 4.27c1.223-.482 2.234-1.09 3.048-1.767.33-.274.594-.532.796-.755A7.968 7.968 0 0 0 12 4c-.476 0-.942.042-1.396.121ZM4.253 9.997a29.21 29.21 0 0 0 2.04-.123 31.53 31.53 0 0 0 4.862-.822 54.36 54.36 0 0 0-2.7-4.227 8.018 8.018 0 0 0-4.202 5.172Zm1.53 7.038a14.21 14.21 0 0 1 1.575-1.899c1.454-1.49 3.17-2.65 5.156-3.29l.062-.018c-.165-.364-.32-.689-.476-.995-1.836.535-3.77.869-5.697 1.042-.94.085-1.783.122-2.403.128a7.966 7.966 0 0 0 1.784 5.032Zm9.221 2.38a35.951 35.951 0 0 0-1.632-5.709c-2 .727-3.596 1.79-4.829 3.058a9.77 9.77 0 0 0-1.317 1.655A7.964 7.964 0 0 0 12 20a7.977 7.977 0 0 0 3.005-.583Zm1.874-1.075a7.998 7.998 0 0 0 2.987-4.87c-.34-.085-.771-.17-1.245-.236a12.025 12.025 0 0 0-3.18-.033 39.39 39.39 0 0 1 1.438 5.14ZM12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10Z"
                        ></path>
                    </svg>
                </a>
            </li>
            <li>
                <a
                    href="https://www.behance.net/orpheus-ui"
                    target="_blank"
                    class="social-icons"
                    aria-label="Behance"
                    ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                    >
                        <path
                            d="M7.443 5.35c.639 0 1.23.05 1.77.198.541.099.984.297 1.377.544.394.248.689.594.885 1.039.197.445.296.99.296 1.583 0 .693-.148 1.286-.492 1.731-.295.446-.787.841-1.377 1.138.836.248 1.475.693 1.869 1.287.393.593.639 1.335.639 2.176 0 .693-.148 1.286-.394 1.781-.245.495-.639.94-1.082 1.237a5.078 5.078 0 0 1-1.573.692c-.59.149-1.18.248-1.77.248H1V5.35h6.443Zm-.394 5.54c.541 0 .984-.148 1.328-.395.344-.247.492-.693.492-1.237 0-.297-.05-.593-.148-.791-.098-.198-.246-.347-.442-.495-.197-.099-.394-.198-.64-.247-.246-.05-.491-.05-.787-.05H4v3.216h3.05Zm.148 5.838c.295 0 .59-.05.836-.099.246-.05.492-.148.688-.297a1.76 1.76 0 0 0 .492-.544c.098-.247.197-.544.197-.89 0-.693-.197-1.188-.59-1.534-.394-.297-.935-.445-1.574-.445H4v3.81h3.197Zm9.492-.05c.393.396.983.594 1.77.594.541 0 1.033-.148 1.426-.395.394-.297.64-.594.738-.89h2.41c-.394 1.186-.984 2.027-1.77 2.572-.788.494-1.722.791-2.853.791a5.751 5.751 0 0 1-2.115-.396 3.928 3.928 0 0 1-1.574-1.088 3.93 3.93 0 0 1-.983-1.633c-.246-.643-.345-1.335-.345-2.127 0-.742.099-1.434.345-2.078a5.34 5.34 0 0 1 1.033-1.681 4.985 4.985 0 0 1 1.573-1.089 5.49 5.49 0 0 1 2.066-.396c.836 0 1.574.149 2.213.495.64.346 1.131.742 1.524 1.336.394.544.69 1.187.886 1.88.098.692.147 1.385.098 2.176H16c0 .792.295 1.534.689 1.93Zm3.098-5.194c-.344-.346-.885-.544-1.525-.544-.442 0-.787.1-1.082.248-.295.148-.491.346-.688.544a1.322 1.322 0 0 0-.345.692c-.049.248-.098.446-.098.643h4.426c-.098-.742-.344-1.236-.688-1.583ZM15.459 6.29h5.508v1.336H15.46V6.29Z"
                        ></path>
                    </svg>
                </a>
            </li>
            <li>
                <a
                    href="/contact"
                    target="_blank"
                    class="social-icons"
                    aria-label="Contact Me"
                    ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                    >
                        <path
                            d="m20.713 8.128-.246.566a.506.506 0 0 1-.934 0l-.246-.566a4.363 4.363 0 0 0-2.22-2.25l-.759-.339a.53.53 0 0 1 0-.963l.717-.319a4.366 4.366 0 0 0 2.251-2.326l.253-.611a.506.506 0 0 1 .942 0l.253.61a4.366 4.366 0 0 0 2.25 2.327l.718.32a.53.53 0 0 1 0 .962l-.76.338a4.363 4.363 0 0 0-2.219 2.251ZM2 4a1 1 0 0 1 1-1h11v2H4.505L12 11.662l4.398-3.91 1.329 1.495L12 14.338 4 7.227V19h16v-8h2v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4Z"
                        ></path>
                    </svg>
                </a>
            </li>
        </ul>
        <span class="text-sm tracking-widest text-[#777e86]"
            >Made with Astro by Raéf Orpheus</span
        >
    </div>
</section>
