---
interface Props {
    currentPage: number;
    lastPage: number;
    prevUrl?: string;
    nextUrl?: string;
}

const { currentPage, lastPage, prevUrl, nextUrl } = Astro.props;
---

<div class="flex justify-center items-center gap-4 pt-8">
    {prevUrl && (
        <a href={prevUrl} class="text-zircon-200 hover:text-gold-300 px-4 py-2">
            &lt;
        </a>
    )}
    
    {Array.from({ length: lastPage }, (_, i) => i + 1).map((num) => (
        <a
            href={num === 1 ? '/blog' : `/blog/${num}`}
            class={`px-4 py-2 rounded ${
                currentPage === num
                    ? "bg-gold-300 text-black"
                    : "text-zircon-200 hover:text-gold-300"
            }`}
        >
            {num}
        </a>
    ))}

    {nextUrl && (
        <a href={nextUrl} class="text-zircon-200 hover:text-gold-300 px-4 py-2">
            &gt;
        </a>
    )}
</div>