---
// BaseLayout.astro
import "@fontsource/cinzel/500.css";
import "@fontsource/cinzel/800.css";
import "@fontsource/montserrat/200.css";
import "@fontsource/montserrat/300.css";
import "@fontsource/montserrat/400.css";
import "@fontsource/montserrat/500.css";
import "../assets/css/global.css";
import Navigation from "../components/Nav.astro";
import { SEO } from "astro-seo";

const { title, layoutType = "default", seoDescription, seoImage } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <link
            rel="preload"
            as="image"
            href="/images/optimized/bg-top-right-min.webp"
            fetchpriority="high"
        />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <SEO
            description="Unlock seamless digital experiences with Raef Orpheus, a distinguished UI/UX designer specializing in crafting captivating apps, landing pages, and music app interfaces. Elevate your digital presence with innovative design solutions and user-centric products."
            openGraph={{
                basic: {
                    title: Astro.props.title + " | Raef Orpheus",
                    type: "website",
                    image: "public/images/optimized/hero2-min.webp",
                },
            }}
            twitter={{
                creator: "@orpheus.ui",
            }}
            extend={{
                // extending the default link tags
                // link: [{ rel: "icon", href: "/favicon.ico" }],
                // extending the default meta tags
                meta: [
                    {
                        name: "twitter:image",
                        content: "public/images/optimized/hero2-min.webp",
                    },
                    {
                        name: "twitter:title",
                        content: Astro.props.title + " | Raef Orpheus",
                    },
                    {
                        name: "twitter:description",
                        content:
                            "Unlock seamless digital experiences with Raef Orpheus, a distinguished UI/UX designer specializing in crafting captivating apps, landing pages, and music app interfaces. Elevate your digital presence with innovative design solutions and user-centric products.",
                    },
                ],
            }}
        />
        <style is:inline>
            :root {
                --font-cinzel: Cinzel, serif;
                --font-montserrat: Montserrat, sans-serif;
            }

            .font-cinzel {
                font-family: var(--font-cinzel);
                font-display: swap;
                /* Adjust these values based on your needs */
                --fallback-size-adjust: 1.027;
            }

            .font-montserrat {
                font-family: var(--font-montserrat);
                font-display: swap;
                --fallback-size-adjust: 0.98;
            }
            .bg-hero {
                background-image: url("/images/optimized/bg-top-right-min.webp");
                background-size: cover;
                background-position: top right;
                width: 100%;
                height: 100%;
            }
        </style>
        <title>{title}</title>
    </head>
    <body data-layout={layoutType}>
        {layoutType === "default" && <div class="cursor-follower" />}
        <div
            class="absolute top-0 right-0 overflow-hidden pointer-events-none -z-10 bg-hero"
        >
        </div>
        <Navigation />
        <slot />

        <script>
            import { initAllAnimations } from "../assets/js/animations.js";

            window.addEventListener("load", () => {
                initAllAnimations();
            });
        </script>
    </body>
</html>
