---
// Assets
import "../assets/css/global.css";

// Component
import Navigation from "../components/Nav.astro";

// Background Image
import bgTopRight from "public/images/bg-top-right-min.png";

// Props
export interface Props {
    title: string;
}
import { SEO } from "astro-seo";
const { title } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <SEO
            description="Unlock seamless digital experiences with Raef Orpheus, a distinguished UI/UX designer specializing in crafting captivating apps, landing pages, and music app interfaces. Elevate your digital presence with innovative design solutions and user-centric products."
            openGraph={{
                basic: {
                    title: Astro.props.title + " | Raef Orpheus",
                    type: "website",
                    image: "public/images/hero2-min.png",
                },
            }}
            twitter={{
                creator: "@orpheus.ui",
            }}
            extend={{
                // extending the default link tags
                // link: [{ rel: "icon", href: "/favicon.ico" }],
                // extending the default meta tags
                meta: [
                    {
                        name: "twitter:image",
                        content: "public/images/hero2-min.png",
                    },
                    {
                        name: "twitter:title",
                        content: Astro.props.title + " | Raef Orpheus",
                    },
                    {
                        name: "twitter:description",
                        content:
                            "Unlock seamless digital experiences with Raef Orpheus, a distinguished UI/UX designer specializing in crafting captivating apps, landing pages, and music app interfaces. Elevate your digital presence with innovative design solutions and user-centric products.",
                    },
                ],
            }}
        />
        <title>Raef Orpheus | {title}</title>
    </head>
    <body>
        <div class="cursor-follower"></div>
        <div
            class="absolute top-0 right-0 overflow-hidden pointer-events-none -z-10"
        >
            <img src={bgTopRight.src} />
        </div>
        <Navigation />
        <div class="max-w-8xl mx-auto px-6 lg:px-12 mt-12">
            <slot />
        </div>
        <script>
            import { initAllAnimations } from "../assets/js/animations.js"; // Add .js extension

            window.addEventListener("load", () => {
                initAllAnimations();
            });
        </script>
    </body>
</html>
