---
import BaseLayout from "./BaseLayout.astro";

const { title } = Astro.props;
---

<BaseLayout title={title} layoutType="default">
    <div class="max-w-8xl mx-auto px-6 lg:px-12 mt-12">
        <slot />
    </div>
</BaseLayout>
