---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} layoutType="works">
    <main class="max-w-8xl mx-auto px-6 lg:px-4 mt-6">
        <article>
            <h1
                class="text-5xl text-center font-bold py-3 golden-text leading-snug"
            >
                {frontmatter.title}
            </h1>
            <span class="flex mx-auto divider-horizontal my-4"></span>
            <slot />
        </article>
    </main>

    <style is:global>
        h1,
        h2,
        h3,
        h4 {
            @apply text-xl;
        }
        p {
            @apply text-lg leading-loose;
        }
    </style>
</BaseLayout>
